h2 Register
.container.row
  .regBack.s12.l7.m12.col
    iframe.regFrame.col.s12 allowtransparency="true" frameborder="0" src="https://www.dancebug.com/rf/?ifid=48"


  = render partial: "stickySched", locals: {events: @events}





/ .registrationInfo.container.row
/   .registrationSection.col.s12.l8.m8
/     ul.regList
/       h4.regHeader GENERAL RULES & REGULATIONS
/       li.regP All dancers competing in the DanZa Competition are required to be registered for the DanZa Intensive in their competition city.
/       li.regP At least one teacher from a studio or organization is requires to be registered for the DanZa Intensive.
/       li.regP Every competition will be held on a first come first serve basis and will have a limited number of entries.
/       li.regP Studios/organizations are limited to 25 group routines. There is no limit to the number of solos a studio may register for but solos are limited to two (2) per dancer.  Additional entries from a studio may be accepted if space is available. Please call for additional availability.
/       li.regP Dancers may not compete against themselves in any category or age division.  Routines from the same studio may compete against each other provided they do not contain any of the same dancers.
/       li.regP Registered teachers cannot perform in the competition.
/       li.regP Professional dancers and full time dance teachers cannot compete.  For questions about eligibility, please contact the DanZa staff.
/       li.regP Dancers can compete for one studio only.
/       li.regP Dancers and routines may compete in more than one city provided they have not received an overall High Score Award in a previous regional competition.
/       li.regP You will receive Confirmation from the office via email.  The final schedule will be emailed two weeks prior to the competition.
/       li.regP Competitors should be ready to perform 1 hour before their scheduled time, in case the competition is ahead of schedule.
/       li.regP All award money is awarded to a studio only.  A studio representative must be present to
/       li.regP receive score sheets and award money at the end of the competition.  All judges score sheets and music must be picked up at the end of the competition.  DanZa Competition will not incur any shipping and/or mailing expenses.
/       li.regP Only teachers and studio approved prop assistants can be backstage.  All others will be asked to leave.  Dancers are not allowed backstage unless your routine is within the next 4-5 numbers.
/       li.regP PROPS are allowed at DanZa Competition and must be placed and removed within one minute.  You will be required to fill out the prop section during entry process.  PROHIBITED PROPS: No dangerous props to be used on stage, such as fire, swords or knives.  Props must be freestanding.  Scenery or backdrops requiring the use of fly bars or special lighting are not permitted.  Helium balloons, special fog and smoke are not permitted.  Larger props are to be handled by the studio.  DanZa Competition staff is not responsible for any props.  If the stage is littered after your performance with feathers, jewelry etc., you should be prepared to remove it immediately following the routine.  No form of rosen, liquid, gel, aerosol, confetti or glitter may be used that would affect the dancing surface.
/       li.regP Photography and videotaping are strictly prohibited.  No camera of any kind can be used during a performance.  Since our events are “open door policy” we cannot monitor   the possible attendance of people of “questionable” nature.  We urge all studio owners, teachers and especially parents to keep our child performers photographically safe.  If a camera is being used in the audience, a DanZa Competition staff member will address the photographer personally with discretion.  Failure to comply with this rule could result in disqualification.
/       li.regP DanZa Competition makes every effort to align with reputable vendors (photographers, videographers, etc.) at various events.  DanZa Competition is not responsible for any unfilled orders resulting in financial loss for the customer that may be caused as a direct result from the business practice of its vendors.
/       li.regP It is understood that by entering the DanZa Competition, competitors, parents, teachers and directors give their permission to DanZa Competition to use their pictures and performances for advertising or promotional material (i.e. brochures, competition programs, website, television, video, etc.).
/       li.regP Each studio will receive a complimentary DVD from DRC Video Judge for all routines with judges’ critiques.  Watch and hear the judge’s comments at the same time.
/       li.regP FAMILY FRIENDLY POLICY: DanZa Competition is dedicated to providing an environment that is Family Friendly.  We realize that dance is an art form and crosses a broad range of styles and tastes.  However, movements, music and costuming must be age appropriate and suitable for family viewing.  If a routine or costume is deemed too suggestive or not age appropriate, deductions will be taken.  The decision of the judges is final.
/       li.regP No refunds will be issued once fees have been paid.  Gift certificates and/or credit will be issued for future DanZa Competition entries in case of illness (with Doctors note).
/       li.regP No smoking, eating or drinking in the competition area.
/       li.regP Upon entering a DanZa Competition, it is agreed that teachers, competitors, parents and relatives will not hold DanZa Competition directors, employees, the host facility and all involved in the competition responsible or liable for any damages, loss or personal injury which they may sustain while participating in any activity connected with this competition, no matter how caused, to either spectators or contestants.  Dancers compete at their own risk.
/       li.regP Teachers and studio directors are responsible to ensure that all tricks and movements performed by their dancers are technically appropriate to each dancer’s level or ability.  DanZa Competition and the host facility will not be held responsible for any injury that may be sustained during any dancer’s performance.
/       li.regP Acrobatic/gymnastic tricks are limited to a maximum of three per routine in the Solo, Duo-Trio and Small Group categories.  A maximum of five tricks are permitted in Large Group, Line, Mini Production and Maxi Production categories.  And tumbling pass that incorporates continuous movement is considered one trick.
/       li.regP The DanZa Competition rules will be evaluated and enforced on an individual basis, based on what is deemed best for all parties involved.
/       li.regP DanZa Competition would like to remind all participants of the importance of GOOD SPORTSMANSHIP and conformance to the rules, with proper consideration for fairness, ethics, respect, and a sense of fellowship with one’s competitors.  Being a “good sport” involves being a “good winner” as well as a “good loser”.  Please bring this philosophy with you.
/     ul.regList
/       h4.regHeader REGISTRATION REQUIREMENTS
/       li.regP An official entry form and roster must be completed for each routine.
/       li.regP All ages will be taken as of January 1, 2016.
/       li.regP Average all ages of all dancers in each routine.  (Add all ages together and divide by the number of dancers in the routine. Any numbers ending in.5 or more must be rounded up to the next whole number.)
/       li.regP The average age of each entry cannot drop more than one (1) age division below the oldest dancer in the entry.  (Ex: Average age of the routine is 15-16 and has a 19 year old dancer.  The routine must be moved to the 17-18 age category.)
/       li.regP Names and birthdates must appear on the entry form or it will not be accepted.  Proof of age must be available.
/       li.regP Soloists can compete two solo entries per regional city.  Soloists cannot enter both solos in the same subject.
/       li.regP Males and females will be adjudicated for separate placements.
/     ul.regList
/       h4.regHeader MUSIC GUIDELINES
/       li.regP One song per CD.
/       li.regP Label each CD with letter designator, entry number, and song title.  Labels will not be provided.
/       li.regP Studios should bring a back-up for use if the original CD malfunctions.
/       li.regP No re-writable CD’s will be accepted due to their poor quality.
/       li.regP Studios are responsible for music selection and must be suitable with appropriate lyrics
/     ul.regList
/       h4.regHeader DANCE STYLES
/       li.regP Acrobatic/Dance – Routine using controlled acrobatic moves such as aerials, walkovers, hand and elbow stands, etc.  The routine must include 50% dance elements and steps.  Mat cannot be used.
/       li.regP Ballet – Routines having classical ballet technique, including classical steps and characterized by grace and precision of movement.
/       li.regP Innovative Ballet – Routines that demonstrate ballet technique that may include jazz, contemporary, modern choreography and/or music selection.
/       li.regP Clogging – Routines where dancer wear clogging shoes and execute clogging technique that include (but is not limited to) rhythmic patterns and formations.
/       li.regP Contemporary - Routine with fluid and unlimited personal style, not associated with any specific dance techniques.  Dancers must show strong emotional commitment.   May involve balance, floor work, fall and recovery and improvisation with emphasis on the connection between mind and body.
/       li.regP Ethnic/Folkloric –Routines that are interpretive of a particular ethnic and/or folkloric dance style.
/       li.regP Hip-Hop – Routines to Hip-Hop music using dance techniques like music video style, street dancing and/or break dancing.
/       li.regP Jazz – Routines must contain standard jazz technique and performance (extensions, elevations, turns, etc.).
/       li.regP Lyrical – Routines must have control and technique, combining several dance techniques while expressing or interpreting the music and telling a story.
/       li.regP Modern/Abstract – Routine may have one or more styles of Modern technique using specific body movements with expression of emotion and/or abstract style.
/       li.regP Musical Theatre – Routine portraying a character (s) while telling a story.  Can be from a Broadway or movie musical.  Lip synching is allowed.  Other dance styles are acceptable to include.
/       li.regP Open – Routines can contain any dance combination which do not fit into any other category.   Can combine dance subjects but routines must support being placed in this category.
/       li.regP Classical Pointe – Routines where dancers must wear pointe shoes while executing pointe technique to classical music with classical costumes.
/       li.regP Innovative Pointe – Routines where dancers must wear pointe shoes and execute pointe technique.  Contemporary music and choreography is utilized.
/       li.regP Classical Tap – Routines that utilize a combination of syncopated and percussive footwork with upper body movement.
/       li.regP Rhythm/Street Tap – Routines that utilize “close to the floor” style using predominately footwork without much upper body movement.
/     ul.regList
/       h4.regHeader CLASSIFICATIONS & AGE DIVISIONS
/       li.regP
/         | Prime (ages divisions 5/6, 7/8, 9/10) *
/         span.regDef 5 & 6 year olds can performs solos but cannot qualify as a STAR semi-finalist.
/       li.regP Youth (age divisions 11/12, 13/14)
/       li.regP Advanced (age divisions 15/16, 17/18, 19+)
/     .row
/       .col.s12.m5
/         ul.regList
/           h5.regHeader Categories
/           li.regP Solo
/           li.regP Duo/Trio (2-3 dancers)
/           li.regP Small Group (4-9 dancers)
/           li.regP Large Group (10-19 dancers)
/           li.regP Line (20 + dancers)
/           li.regP Mini Production (15 – 30 dancers)
/           li.regP Maxi Production (31+ dancers)
/       .col.s12.m3
/         ul.regList
/           h5.regHeader Cost
/           li.regP $80 per dancer
/           li.regP $90 per routine
/           li.regP $32 per dancer
/           li.regP $32 per dancer
/           li.regP $32 per dancer
/           li.regP $32 per dancer
/           li.regP $32 per dancer
/       .col.s12.m4
/         ul.regList
/           h5.regHeader Time Limits
/           li.regP maximum 2:45 minutes
/           li.regP maximum 3:00 minutes
/           li.regP maximum 3:00 minutes
/           li.regP maximum 3:00 minutes
/           li.regP maximum 4:00 minutes
/           li.regP minimum 3:00-maximum 6:00 minutes
/           li.regP minimum 3:00-maximum 6:00 minutes
/       p.regP All times include entrance and exit.
/       p.regP Studios may apply their own administrative fees.
/     hr
/     .registrationSection.col.s12
/       h3.regTtile SCORING GUIDLINES
/       ul.regList
/         h5.regHeader SCORING
/         p.regP 1st Place: 270+
/         p.regP 2nd Place: 255-269
/         p.regP 3rd Place: 240-254
/         li.regP All other placements will be awarded highest to lowest in descending numerical order.
/         li.regP To qualify for the National Finals: All first place routines and any other routine that scores a minimum of 255 points.
/         li.regP Ties will be broken by two of the three judges that scored the higher score.  If this does not break the tie, the judges will confer on the final decision.
/         li.regP Judges incorporate all aspects of the routine in their scoring including but limited to technique, performance, choreography, musicality and costuming.
/         li.regP All first place award winners cannot compete in any other regional qualifying city in the same regional season.
/         li.regP All decisions of the judges are finals.  The manner and method of the judging is solely within the discretion of DanZa Competition and its judging panel.
/         p.regP In the event that a routine has been choreographed by one of the judges, he/she will provide verbal critique for the routine and the other two judges scores will be average to make the third score.
/       ul.regList
/         h5.regHeader TITILEHOLDER SEMI-FINALISTS: DanZa STAR’Z
/         p.regP &#40;Supreme Talent Artistic Recipient&#41;
/         p.regP DanZa STAR Qualifications:
/         li.regP Prime: (7-10 years of age) Minimum 255 points
/         li.regP Youth: (11-14 years of age) Minimum 265 points
/         li.regP Advanced: (15 plus years of age) Minimum 270 points
/         p.regP Soloists that do not qualify for as a semi-finalist may compete in additional regional cities until they achieve the required scoring.  Soloists will be responsible for paying additional soloist fees and will receive half off the intensive fees for the additional cities attended.
/     hr
/     .registrationSection.col.s12
/       h3.regTtile REGIONAL AWARDS
/       h5.regHeader PLACEMENT AWARDS
/       p.regP First, Second & Third Place are recognized in all categories with a trophy.  All other placements will receive a ribbon recognition.
/       ul.regList
/         h5.regHeader Highest Scoring Routine Awards
/         p.regP Highest scoring routine awards will receive a recognition certificate and a monetary award to be presented to the highest scoring routine in the age divisions of Prime, Youth and Advanced.
/         li.regP Highest Scoring Solo (Female) - $75.00
/         li.regP Highest Scoring Solo (Male) - $75.00
/         li.regP Highest Scoring Duo-Trio - $75.00
/         li.regP Highest Scoring Small Group - $100.00
/         li.regP Highest Scoring Large Group- $100.00
/         li.regP Highest Scoring Line - $125.00
/         li.regP Highest Scoring Mini Production - $125.00
/         li.regP Highest Scoring Maxi Production - $125.00
/         p.regP Soloist positions through fifth place for both males and females will receive a ribbon award. A first place must be achieved in the category for the runner up awards to be given.
/         p.regP Duo-Trio, Small Group, Large Group, Line, Mini Production, and Maxi Production categories will receive ribbon awards for first and second runner ups. A first place must be achieved in the category for the runner up awards to be given.
/       ul.regList
/         h5.regHeader Judges Choice Awards
/         p.regP Trophies will be awarded to the following special categories in all age categories.  In addition, each all Outstanding Awards will receive $25 DanZa Dollars to be used towards the 2016 National Finals.
/         li.regP Outstanding Costume
/         li.regP Outstanding Presentation
/         li.regP Outstanding Technique
/         li.regP Outstanding Choreography
/         p.regP Judges Choice Ribbons will be awarded to following: &#40;It will be the judges’ choice to award in each age category. These awards may or may not be awarded in each city as it is the Judges Choice.&#41;
/         p.regP Stellar Precision, Emotional Display, Most Entertaining, Studio Excellence Award.
/       h5.regHeader DanZa Peer Award
/       p.regP One ballot per studio will be given to choose their favorite routine at each regional competition.  The routine chosen as the DanZa Peer Award will be invited to perform this routine at the National Finals in a special category against the other DanZa Peer Award regional selections.
/       h5.regHeader Great Aspirations Award
/       p.regP One dancer from each age category will be recognized with the Great Aspirations award.  This award will be chosen by the judges and directors based upon the dancer’s overall performance and those qualities that exemplify this award.
/       h5.regHeader Student Choreographer Award
/       p.regP Any full time student age 15 and over can submit their own choreographed piece.  No self- choreographed solos are permitted.  Maximum of three entries per studio.  The highest scoring routine in this category will be the winner provided they achieve a second place or higher. Winners of this award can compete this routine at the National Finals against the other regional Student Choreographer Award winners.
/       h5.regHeader Overall High Score Group Zenith Awards
/       p.regP The overall highest scoring group routine in each age category will receive a trophy and $75.00 DanZa Dollars to be used towards the National Finals.  This award is called the DanZa Zenith Award for Overall High Scoring Routine in the Prime, Youth and Advanced categories.  Runners up in first and second place in each category will be recognized with a certificate and DanZa Dollars of $25.00 (second place) and $50.00 (first place) to be used towards the National Finals.
