h2
  | Add a new faculty
= form_for @faculty, :url => casein_faculties_path, :html => {:multipart => true} do |f|
  = render :partial => 'casein/faculties/form', :locals => { :f => f }
  p.submits
    = link_to 'Cancel', casein_faculties_path, :class => 'btn btn-mini btn-danger'
    = f.submit "Add new faculty", :class => "btn btn-mini btn-primary"
= content_for :sidebar do
  li
    = link_to "#{casein_show_icon "th-list"}Back to list".html_safe, casein_faculties_path