// Place all the styles related to the danza controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ---------FONTS---------------
@font-face {
  font-family: "Gotham";
  src:font-url('GothamHTF-Medium.ttf') format("truetype");
}
@font-face {
  font-family: 'GothamThin';
  src:font-url('GothamHTF-Thin.ttf')  format('truetype');
}

// ------------------------------

@media (max-width: 600px) {
  .landingImage {
     width: 1100px;
  }
}

.landing_t{
  position: absolute;
  left: 0;
  right: 0;
  top: 10vh;
  color:white;
  margin:0 auto;
}

.nav ul li a:hover{
  color: #cdcdcd;
}

.parallax img{
}

// .nav ul li a{
//   font-family: 'GothamThin',sans-serif;
//   font-size: 1.1em;
// }

#image1{
  height: 750px;
}

h2{
  font-family: 'Gotham',sans-serif;
  text-align: center;
  font-size: 30px;
}



.regList li {
    list-style-type: disc;
    font-family: 'GothamThin',sans-serif;
    letter-spacing: -.5px;
  }

.highlights li{
  list-style-type: disc;
}

.regDef{
  font-family: 'GothamThin',sans-serif;
  font-size: .6em;
}

.regP{
  font-family: 'GothamThin',sans-serif;
}

.danZa{
  font-weight: 500;
  font-size: 60px;
  text-shadow: #D61E16 0 0 10px;
}


.card_city{
    color:#E1291B !important;
    font-size:1.5rem !important;
    display:inline-block;
}
.card_date{
    margin-left:15px !important;
    color:#808080 !important;
    font-size:1.2rem !important;
    display:inline-block;
}

.parallax-container {
      height: "100px;";
    }




iframe.regFrame.col.s12, .regBack.s12.l8.m8.col{
  height:929px;
}
.linksTo{
  color: #dddddd;
}

.linksTo:hover {
  color: #D61E16!important;
}
.gallery img{
  width: 100%;
}