// Place all the styles related to the danza controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ---------FONTS---------------
@font-face {
  font-family: "Gotham";
  src:font-url('GothamHTF-Medium.ttf') format("truetype");
}
@font-face {
  font-family: 'GothamThin';
  src:font-url('GothamHTF-Thin.ttf')  format('truetype');
}

// ------------------------------

.landing_t{
  position: absolute;
  left: 0;
  right: 0;
  top: 10vh;
  color:white;
  margin:0 auto;
}

.nav ul li a:hover{
  color: #cdcdcd;
}

#image1{
  height: 750px;
}

h2{
  font-family: 'Gotham',sans-serif;
  text-align: center;
  font-size: 30px;
}
