// Place all the styles related to the danza controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.landing_t{
  // position:absolute;
  position: absolute;
  left: 0;
  right: 0;
  top: 10vh;
  color:white;
  margin:0 auto;
}

@font-face {
  font-family: "Gotham";
  src:font-url('GothamHTF-Medium.ttf') format("truetype");
}
h2{
  font-family: 'Gotham',sans-serif;
  text-align: center;
  font-size: 30px;
}
