


#schImg{
  margin-top: 64;
  height: 75vh;
  width: 100%;
  // background: url("https://c1.staticflickr.com/9/8386/8594509864_10caebb1ca_b.jpg");

  background: url("http://i296.photobucket.com/albums/mm195/Zlerp/BMR_zpsxzvqi3yi.jpg")no-repeat center center;

  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: black 0px 5px 5px !important;

}

#conImg{
  margin-top: 64;
  height: 75vh;
  width: 100%;
  background: url("https://i296.photobucket.com/albums/mm195/Zlerp/NF2%20IMG_1594_zpsea7zov8m.jpg")no-repeat center center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: black 0px 5px 5px !important;

}


.layer1{
  height: 100%;
  width: 104%;
  background-color: black;
  opacity: .3;
  margin-left: -2%;
}

.schTitle {
  font-family: 'Gotham',sans-serif;
  font-size: 14vh;
  z-index: 200;
  color: white;
  text-shadow: black 2px 5px 10px !important;
  // position: absolute;
}


#evtDesc{
  color: white;
  font-family: 'Gotham',sans-serif;
  font-size: 0.8rem;

}

#evtDate {
  color: #a1a1a1;
  font-weight: 500;
  font-size: 1rem;
}

#evtAddress {
  color: grey;
  // font-weight: 300px;
  font-family: 'Gotham',sans-serif;
  font-size: 1rem;
  padding-top: 10px;
}

.evtName {
  margin-top: -8px;
  font-size: 2rem;
  margin-bottom:4px
}

.collection-header{
  color: #242424;

}

.redBorder{
  box-shadow: #D61E16 0px 0px 10px !important;
}

.fixedPin{
  position: fixed;
  top: 70px;
  width: 22%!important;
}

.pinItem p{
  color: black;
  font-family: 'Gotham',sans-serif;
}

.pinItem:hover .pinTitle{
  color: #D61E16;
  font-family: 'Gotham',sans-serif;
}
.pinItem:hover .pinDate{
  color: #D61E16;
  font-family: 'Gotham',sans-serif;
}
// .modalImg{
//   max-height: 32vw;
//   width: auto!important;
// }
#spacerSched{
  // overflow: scroll;
}

.transition {
    transition-duration: 0.5s;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.card-content{
  height: 40px;
  padding:14px;
}

.facImg img.activator{
  cursor: pointer;
  cursor: hand;
  margin: 0 auto;


}
.facImg{
  height: 200px;
}

.eventCard{
  padding:0 !important;
}
.eventname{
  padding:0 !important;
  margin-bottom:0 !important;
  font-size:2rem;
  h5{
    padding: 0 0 0 10px;
  };
}
.card.small{
  height: 250px !important;
}
.card-image img{
  margin-top: -140px;

}
.right_date{
  padding:0 !important;
}
.modalImg{
  padding:0 !important;
  width:100%;
}
.facName{
  padding-top: 0!important;
}

.regBack{
  // height: 300px;
  width: 100%;
  overflow: hidden;
  // opacity: .7;
  // background: url("http://download.free-download-web.com/files/2015/02/Carefully-chosen-background-vector-material-dots-flash-of-light.jpg") no-repeat center center fixed;
  // background: url("http://iwallhd.com/stock/gaussian-blur-blurred-background.jpg") no-repeat center center fixed;
  background-color: #e6e6e6;
  // background: url("http://iwallhd.com/stock/gaussian-blur-blurred-background.jpg") no-repeat center center fixed;

}

.regBack p{
  color: white;
}


// .scheduleLink{
//   padding-top: 40px;
// }

// .pinDate {
//   font-family: 'GothamThin',sans-serif;
//   color: black;
// }


.rulesRegs{
  // height: 300px;
  margin-top: 40px;
  border: #D61E16 solid 3px;
  width: 100%;
}

.rulesRegs h5 {
  color: #D61E16;
}
.rulesRegs:hover {
  // border: #d9d9d9 solid 3px;
  border: 6px solid #d9d9d9;
}

.rulesRegs:hover h5{
  color: #d9d9d9;
}


.center{
  margin: 0 auto;
}


.nav i:hover{
  color: #d9d9d9;
}

.brand-logo:hover{
  color: #d9d9d9;
}

.leadImg{
}

#schedList ul.collection{
  border:0px;
}
#schedList li{
  border:0px;
}
.pinItem{
  border-top: 2px solid black;
  border-bottom: 0px !important;
}
.black_event .card_city,.black_event .card_date,.black_event .event_side_name{
  color:red !important;
}
  // .red_event .card_date,  .red_event .card_city,  .red_event .event_side_name{
  //   color:black !important;
  // }
.red_event{
  color:black;
}
  .red_event:hover{
  color:#E1291B;
}
.black_event{
  color:#E1291B;
}
  #schedList .valign-wrapper.red:hover{
  background-color:black !important;
}
  #schedList .valign-wrapper.grey:hover{
  background-color:black !important;
}
#schedList a.pinItem{
  padding:0;
}

#schedList a.pinItem row{
  display:block;
  padding:0;
  margin:0 !important;
}
#schedList  .event_side_name{
  font-size:1.4rem !important;
}
#schedList  .side_card_date{
  font-size:0.9rem !important;
  display:inline-block;
  margin-left:10px;
}
#schedList  .side_card_city{
  font-size:1.2rem !important;
  display:inline-block;
  margin-bottom:0;
  margin-left:0;
  margin-right:0;
}
#schedList .collection-header{
  color:white;
  font-size:2rem;
  background-color:#212121;
  border-bottom:4px solid #E1291B;
}
.scheduleLink{
  color:#E1291B;
  font-size:2rem;
  text-decoration: underline;
}

#schedList{
  font-family:Gotham, sans-serif;
}
.modal-content .modal_bold{
  text-decoration:underline;
  font-size:1.3rem;
}
.modal_date{
  font-size:1.4rem;
}
.modal_city{
  font-size:1.6rem;
  color:black;
}

.contactAddress{
  color: #cdcdcd;
}

.contactAddress:hover{
  color: #ececec;
}

.contactInfo{
}

.contactInfo p{
  font-size: 20px;
}


.contactTitle{
  margin-top: 40px;
}


.facultyContact{
  margin-top: 40px;
}
