


#schImg{
  margin-top: 64;
  height: 75vh;
  width: 100%;
  background: url("https://c1.staticflickr.com/9/8386/8594509864_10caebb1ca_b.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: black 0px 5px 5px !important;

}

.layer1{
  height: 100%;
  width: 104%;
  background-color: black;
  opacity: .3;
  margin-left: -2%;
}

.schTitle {
  font-family: 'Gotham',sans-serif;
  font-size: 14vh;
  z-index: 200;
  color: white;
  text-shadow: black 2px 5px 10px !important;
  // position: absolute;
}


#evtDesc{
  color: white;
  font-family: 'Gotham',sans-serif;
  font-size: 0.8rem;

}

#evtDate {
  color: #a1a1a1;
  font-weight: 500;
  font-size: 1rem;
}

#evtAddress {
  color: #d5d5d5;
  font-weight: 300px;
  font-family: 'Gotham',sans-serif;
  font-size: 1rem;
  padding-top: 10px;
}

.evtName {
  margin-top: -5px;
  font-size: 1.75rem;
}

.collection-header{
  color: #242424;

}

.redBorder{
  box-shadow: red 0px 0px 10px !important;
}

.fixedPin{
  position: fixed;
  top: 70px;
  width: 22%!important;
}

#pinItem p{
  color: black;
  font-family: 'Gotham',sans-serif;
}

#pinItem:hover #pinTitle{
  color: #D61E16;
  font-family: 'Gotham',sans-serif;
}
#pinItem:hover #pinDate{
  color: #D61E16;
  font-family: 'Gotham',sans-serif;
}
// .modalImg{
//   max-height: 32vw;
//   width: auto!important;
// }
#spacerSched{
  // overflow: scroll;
}

.transition {
    transition-duration: 0.5s;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.card-content{
  height: 40px;
  padding:14px;
}

.facImg img{
  cursor: pointer;
  cursor: hand;
}

.eventCard{
  padding:0 !important;
}
.infobox{
  padding:0 !important;
  height:130px
}
.right_date{
  padding:0 !important;
}
.modalImg{
  padding:0 !important;
  width:100%;
}
.facName{
  padding-top: 0!important;
}

.regBack{
  height: 300px;
  width: 100%;
  overflow: hidden;
  // opacity: .7;
  // background: url("http://download.free-download-web.com/files/2015/02/Carefully-chosen-background-vector-material-dots-flash-of-light.jpg") no-repeat center center fixed;
  background: url("http://iwallhd.com/stock/gaussian-blur-blurred-background.jpg") no-repeat center center fixed;

  // background: url("http://iwallhd.com/stock/gaussian-blur-blurred-background.jpg") no-repeat center center fixed;

}

.regBack p{
  color: white;
}

.regFrame{
height: 300px;
}
// .scheduleLink{
//   padding-top: 40px;
// }

// #pinDate {
//   font-family: 'GothamThin',sans-serif;
//   color: black;
// }
