@font-face {
  font-family: 'GothamThin';
  src:url('../font/GothamHTF-Thin.ttf')  format('truetype');
}

//  Schedule Styling


body{
  background-color: #121212;
}

.event li{
  display: inline-block;
}

.evntName{
  font-size: 20px;
}

.evntAddr{
  font-weight: 300;
}

.evntDate{

}

.evntDes{
}

.evntImg{

}

p.col.s9{
  // font-family: 'GothamThin', cursive;
  font-weight: 100;

}

.schedTit{
  text-align: center;
}

.card{
  // background-color: red;
}
